.tab-set {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-set ol {
  border-bottom: 1px solid #ccc;
}

.tab-set ol li {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-set ol .active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.tab-content {
  min-height: 15rem;
}
